title Album Digital - Negritude em Debate
meta(charset="utf-8")
meta(name="viewport", content="width=device-width,initial-scale=1")
link(rel="stylesheet", href="styles/style.css", type="text/css")
link(href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap", rel="stylesheet")
link(rel="stylesheet", href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css")
block css
//- Comentario do Pug
header
  .title-button
    h1
      a(href="/") Negritude em Debate
    button(onclick="toggle_menu()")
      i.fa.fa-bars
  .menu-content
    a(href='/') Negritude em Debate
    a(href="/album_form") Mostra Fotográfica

block main    

script(src="js/toggle_menu.js", type="text/javascript")