extends header

block css
  link(rel="stylesheet", href="styles/home.css", type="text/css")

block main
  main
    img(src="imgs/image1.jpeg", alt="Representação Afro-Indígena Brasileira")
    div
      h1 Negritude em Debate
      p Descrição, etc...