extends header

block css
  link(rel="stylesheet", href="styles/relatorio.css", type="text/css")

block main 
  main 
    h1 Relatório - Álbum Digital
    .search-form
      label(for="search") Pesquisar
      input(id="search", type="search", value="")
    each album_digital in data
      .register-row
        figure
          img(alt="photo.png", src=`uploads/${album_digital.dataValues.nome_foto}`)
          figcaption: b=album_digital.dataValues.titulo_foto
        ul 
          li
            b Nome: 
            = album_digital.dataValues.nome
          if album_digital.dataValues.cpf_responsavel
            if album_digital.dataValues.cpf 
              li
                b CPF: 
                = album_digital.dataValues.cpf 
            li
              b Responsavel: 
              = album_digital.dataValues.nome_responsavel
            li
              b CPF do Responsavel: 
              = album_digital.dataValues.cpf_responsavel
          else 
            li
              b CPF: 
              = album_digital.dataValues.cpf
          li 
            b Telefone: 
            = album_digital.dataValues.telwhats
          li 
            b Email:  
            = album_digital.dataValues.email
          li 
            b Cidade:  
            = album_digital.dataValues.cidade
          li 
            b Data de Nascimento:  
            = album_digital.dataValues.data_nascimento
          li 
            b Criado as: 
            = album_digital.dataValues.createdAt 
          li Frase
          li Autorização
  script(src="js/relatorio.js", type="text/javascript")