main{
  flex-direction: column;
}

main h1{
  text-align: center;
  font-size: 1.5em;
  color: #DD7631;
}

main .register-row{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1.5em;
}

.register-row > ul{
  list-style-position: inside;
}
.register-row img{
  width: 10%;
  height: auto;
}