main{
  flex-direction: column;
}

main h1{
  text-align: center;
  font-size: 1.5em;
  color: #DD7631;
}

main .register-row{
  display: flex;
  flex-direction: row;
  width: 100%;
  gap: 1.5em;
}

.search-form{
  width: 50%;
  align-self: center;
  display: flex;
  flex-direction: column;
}

main label, main input{
  font-size: clamp(1rem, 1vw, 2.5rem);
}

main input{
  font-family: inherit;
  font-weight: 300;
  background-color: #D8C593;
  border: 1px solid #ccba8b;
}

.register-row > ul{
  list-style-position: inside;
}

.register-row figure {
  display: flex;
  flex-direction: column;
  flex-basis: 20%;
}

.register-row img{
  width: 100%;
  height: auto;
}

.register-row figcaption {
  text-align: center;
}