:root{
  --orange: #BB3B0E;
  --organge-2: #DD7631;

  --gray: #708160;

  --white: #D8C593;
  --white-2: #ccba8b;
}

@keyframes slideMenu{
  0% {
  margin-top: -29%;
  }
  100% {
  margin-top: 0;
  }
}

@keyframes slideMenuClose{
  0% {
    margin-top: 0;
  }
  100% {
    margin-top: -29%;
  }
}

@keyframes messageWarning{
  0%{
    color: rgb(255, 61, 61);
  }

  50%{
    color: initial;
  }

  100%{
    color: rgb(255, 61, 61);
  }
}

@keyframes optionalMessageWarning{
  0%{
    color: initial;
  }

  50%{
    color: rgb(255, 255, 255);
  }

  100%{
    color: initial;
  }
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-size: 100%;
}

body{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
}

header {
  background-color: #fff;
  color: #BB3B0E;
  font-size: clamp(1em, 2vw, 1.5em);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em 0.5em;
  position: sticky;
  top: 0;
  z-index: 3;
}

header > div{
  display: flex;
  align-items: center;
  gap: 1em;
}

header a, header h1{
  white-space: nowrap;
}

header button{
  width: 0;
  height: 0;
  visibility: hidden;
  position: absolute;
  background-color: transparent;
  border: 0;
  color: #BB3B0E;
  cursor: pointer;
}

a, a:hover{
  text-decoration: none;
  color: inherit;
}

main{
  display: flex;
  padding: 1em 3em;
  padding-right: 2em;
  max-width: 100vw;
  gap: 1em;
}

.title-button{
  padding-top: 0.5em;
}

.menu-content{
  padding-top: 0.5em;
}

.menu-content a{
  font-size: 1.2rem;
}

.logout{
  font-size: 1rem;
  color: var(--orange);
  font-weight: 400;
  border: 1px solid var(--white-2);
  background-color: var(--white);
  padding: 0.3rem;
}

.logout:hover{
  color: var(--orange);
  border: 1px solid var(--white-2);
  background-color: var(--white);
  filter: brightness(0.9);
}

@media only screen and (max-width: 800px){
  main {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1em;
    padding: 1em 1em;
  }
}

@media only screen and (max-width: 800px){
  header {
    flex-direction: column;
    align-items: flex-start;
  }

  .title-button{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: #fff;
    z-index: 10;
  }

  .title-button > button{
    position: static;
    width: auto;
    height: auto;
    visibility: visible;
  }

  .menu-content{
    padding-top: 0;
    flex-direction: column;
    align-items: flex-start;
  }

  .menu-content, .menu-content > *{
    padding-top: 0;
    width: 0;
    height: 0;
    visibility: hidden;
  }

  .menu-content.show{
    padding-top: 1rem;
  }

  .menu-content.show, .menu-content.show > *{
    position: static;
    width: auto;
    height: auto;
    visibility: visible;
    z-index: 1;
  }

  .menu-content.show > *{
    animation: 0.5s ease-out 1 slideMenu;
    -webkit-animation: 0.5s ease-out 1 slideMenu;
  }

  .menu-content.closing > *{
    animation: 0.5s ease-out 1 slideMenuClose;
    -webkit-animation: 0.5s ease-out 1 slideMenuClose;
  }
}